streamlit>=1.24.0
pandas>=1.5.0
openpyxl
plotly
google-auth
google-auth-oauthlib
google-api-python-client
numpy
streamlit-aggrid>=0.4.0
google-api-python-client
google-auth
google-auth-oauthlib
numpy
openpyxl
pandas
plotly
streamlit
streamlit-aggrid
